<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.algorizo.erp.inboundmapper">
 
	<resultMap id="inboundMap" type="co.algorizo.erp.inbound.inboundDTO">
		<id property="in_id" column="in_id"/>
	    <result property="in_date" column="in_date"/>
	    <result property="in_quantity" column="in_quantity"/>
	
	    <association property="productDTO" javaType="co.algorizo.erp.product.ProductDTO">
	        <id property="p_id" column="p_id"/>
	        <result property="p_lctg" column="p_lctg"/>
	        <result property="p_mctg" column="p_mctg"/>
	        <result property="p_sctg" column="p_sctg"/>
	        <result property="p_code" column="p_code"/>
	        <result property="p_name" column="p_name"/>
	    </association>
	</resultMap>
<!--전체 입고 조회  -->
<select id="list" resultType="co.algorizo.erp.inbound.inboundDTO">
	select * from inbound where del = 0;
</select>
<!--입고 상세 조회  -->
<select id="detail" parameterType="int" resultMap="inboundMap">
	select ib.in_id AS in_id
	, ib.in_date AS in_date
	, ib.in_quantity AS in_quantity
	, p.p_id AS p_id
	, p.p_lctg AS p_lctg
	, p.p_mctg AS p_mctg
	, p.p_sctg AS p_sctg
	, p.p_code AS p_code
	, p.p_name AS p_name
	from inbound ib
	join product p on ib.product_p_id = p.p_id 
	where ib.in_id = #{in_id};
</select>

<!--입고 등록  -->
<insert id="register" parameterType="co.algorizo.erp.inbound.inboundDTO">
	insert into inbound(in_status,del) 
	values(#{in_status},0);
</insert>


<!--입고 수정  -->
<update id="update" parameterType="co.algorizo.erp.inbound.inboundDTO">
	update inbound set 
		in_status=#{in_status},
		in_date = #{update_date}s
		where in_id=#{in_id};
</update>

<!--입고 삭제  -->
<update id="delete" parameterType="Integer">
	update inbound set del = 1 where in_id=#{in_id};
</update>
</mapper>