<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.algorizo.erp.stockmapper">
<!--재고 전체 조회 -->
<select id="list" resultType="co.algorizo.erp.stock.stockDTO">
	SELECT 
	s.s_id,
    s.p_id,              
    s.totalprice,       
    s.s_quantity,        
    s.s_status,          
    s.del,               
    s.etc,              
    i.in_date AS s_indate, 
    o.out_date AS s_outdate 
FROM stock s
LEFT JOIN inbound i ON s.s_id = i.in_id 
LEFT JOIN outbound o ON s.s_id = o.out_id  
where s.del = 0;
</select>

<!--재고 상세 정보  -->
<select id="detail" resultType="co.algorizo.erp.stock.stockDTO" parameterType="Integer">
	select * from stock where s_id = #{s_id};
</select>

<!--재고 등록  -->
<insert id="register" parameterType="co.algorizo.erp.stock.stockDTO">
	 INSERT INTO stock(s_status, del)
    VALUES(#{s_status}, 0);
</insert>

<!--재고 수정  -->
<update id="update" parameterType="co.algorizo.erp.stock.stockDTO">
	update stock 
	set 
        s_status = #{s_status} 
        where s_id = #{s_id};
</update>
<!--가격 총합은 해도되고 안해도되는데 하게 되면 품목 테이블에서 키를 받아와서 조인시키고 제품가격과 수량 넣어서 하기  -->
<!--재고 수량도 키받아와서 재고 넣으면 됨 -->
<!--재고 삭제  -->
<update id="delete" parameterType="co.algorizo.erp.stock.stockDTO">
	update stock set del = 1 where s_id=#{s_id};
</update>

</mapper>