@charset "EUC-KR";
.container{
	margin: 0;
	width: 100%;
	max-width: 100%;
}
.d-flex.custom{
	justify-content: space-between;
	margin-bottom: 10px;
}
.form-group.width{
	width: 45%;
}
.form-group.border{
	border: 1px solid #dce7f1;
	border-radius: .25rem;
	margin-bottom: 20px;
}
.text-end{
	margin-top: 10px;
	display: flex;
    justify-content: flex-end;
    gap: 14px;
}
.table.table-striped{
	margin-bottom: 0;
}
.inspection_info{
	display: none;
}